<!doctype html>
<html lang="en">
  <head>
    <title>Mi CV - Michael Burri</title>
    
    <!-- 
        development version, includes helpful console warnings 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        production version, optimized for size and speed 
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
     -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> 
  </head>

  <body data-spy="scroll" data-target="#barra" data-offset="10" class="p5">
    <div id="miApp" class="container-fluid"> 
      <!-- MAIN -->
      <div class="row">
        <!-- NAV -->
        <div class="col-md-2 bg-light d-none d-sm-block pt-5">           
          <nav id="barra" class="navbar navbar-expand-lg navbar-light bg-light flex-sm-column sticky-top ">
            <div>
              <img src="images/its-a-me.jpg" id="myFace" class="rounded-circle" alt="Mi Careto"></img>
            </div>
            
            <ul class="nav nav-pills">
              <li class="nav-item active">
                <a class="nav-link" href="#list-item-1">{{cvRoot.menu[0].text}} </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#list-item-2">{{cvRoot.menu[1].text}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#list-item-3">{{cvRoot.menu[2].text}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#list-item-4">{{cvRoot.menu[3].text}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#list-item-5">{{cvRoot.menu[4].text}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#list-item-6">{{cvRoot.menu[5].text}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#list-item-7">{{cvRoot.menu[6].text}}</a>
              </li>
              <li class="nav-item mt-5 btn">
                <button v-on:click="cambiarIdioma" class="sticky-top  btn-primary">{{cvRoot.menu[7].text}}</button>
              </li>
            </ul>
            
          </nav>  
        </div>
        
        <!-- <nav class="col-md-2 bg-light d-none d-sm-block">{{cv.idiomas[0].text}}  </nav> -->

        <!-- CONTENT -->
        <div class="col-md-10 bg-primary p-5" >
          <!-- ABOUT ME -->
          <h1>MICHAEL BURRI</h1>          
          <section id="list-item-1" >
            <h2 >{{cvRoot.menu[0].text}}</h2>
            <div class="row" v-for="elem in cvRoot.sobremi">
              <div class="col-12"><b>{{elem[0]}}</b> {{elem[1]}}</div>              
            </div>
            <hr>
            <div class="row" v-for="elem in cvRoot.redesSociales">
              <div class="col-12"><img class="icono" v-bind:src=elem["icono"] alt=""><b> {{elem["label"]}} </b> <a class="enlaceSocial"> {{elem["enlace"]}} </a> </div> 
            </div>
            
            
          </section>
          <hr>
          <!-- EXPERIENCIA -->
          <section id="list-item-2"  style="height: 40vh;">
            <h2 >{{cvRoot.menu[1].text}}</h2>
            <p>Siiiii.....experiencia.......claro</p>
          </section >
          <hr>
          <!-- EDUCACIÓN -->
          <section id="list-item-3" >
            <h2 >{{cvRoot.menu[2].text}}</h2>
            <table class="table table-light table-striped ">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">{{cvRoot.educacionLabel[0]}}</th>
                  <th scope="col">{{cvRoot.educacionLabel[1]}}</th>
                  <th scope="col">{{cvRoot.educacionLabel[2]}}</th>
                </tr>
              </thead>
              <tbody v-for="(educacion,index) in cvRoot.educacion">
                <tr>
                  <th scope="row">{{index+1}}</th>
                  <td>{{educacion.titulo}}</td>
                  <td>{{educacion.lugar}}</td>
                  <td>{{educacion.fecha}}</td>
                </tr>
              </tbody>
            </table>
            

          </section >
          <hr>
          <!-- SKILLS -->
          <section id="list-item-4" >
            <h2 >{{cvRoot.menu[3].text}}</h2>
            <div class="card-columns" >
              <div class="card mb-3 p-1 bg-danger text-white text-center" v-for="skill in cvRoot.habilidades">
                <div p-5>
                  <img class="card-img-top" v-bind:src=skill.imagen style="height:124px"  alt="Card image cap">
                </div>
                
                <div class="card-body">
                  <h5 class="card-title">{{skill.titulo}}</h5>
                  <p class="card-text"> {{skill.descripcion}}</p>                
                </div>
              </div>
              
            </div>
            
          </section>
          <hr>
          <!-- PROYECTOS -->
          <section id="list-item-5" style="height: 40vh;">
            <h2 >{{cvRoot.menu[4].text}}</h2>
            <p>...</p>
          </section>
          <hr>
          <!-- IDIOMAS -->
          <section id="list-item-6" class="mb-5" style="height: auto;">
            <h2 >{{cvRoot.menu[5].text}}</h2> 
            <div v-for="idioma in idiomas">
              <br>
              <h3>{{idioma.idioma}}</h3>
              <div>
                <h6>{{idioma.escucharT}}</h6>
                <div class="progress">                
                  <div class="progress-bar bg-warning" role="progressbar" v-bind:style="{width: idioma.escucharBar + '%'}" v-bind:aria-valuenow=idioma.escucharBar aria-valuemin="0" aria-valuemax="100">{{idioma.escuchar}}</div>
                </div>
                <h6>{{idioma.leerT}}</h6>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" v-bind:style="{width: idioma.leerBar + '%'}" v-bind:aria-valuenow=idioma.leerBar aria-valuemin="0" aria-valuemax="100">{{idioma.leer}}</div>
                </div>
                <h6>{{idioma.oralT}}</h6>
                <div class="progress">
                  <div class="progress-bar bg-secondary" role="progressbar" v-bind:style="{width: idioma.oralBar + '%'}" v-bind:aria-valuenow=idioma.oralBar aria-valuemin="0" aria-valuemax="100">{{idioma.oral}}</div>
                </div>
                <h6>{{idioma.escribirT}}</h6>
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" v-bind:style="{width: idioma.escribirBar + '%'}" v-bind:aria-valuenow=idioma.escribirBar aria-valuemin="0" aria-valuemax="100">{{idioma.escribir}}</div>
                </div>
              </div>
              <br>
            </div>           
            
          </section>
          <hr>
          <!-- CONTACTO --> 
          <section id="list-item-7">
            <div class="row">
              <form  class="col-8 offset-2 col-md-12 offset-md-0 bg-dark">          
                <div class="row form-group">
                  <legend class="col-12 p-3 text-center u-flowText text-dark">
                    <p>{{cvRoot.contacto.titulo}}</p> 
                  </legend>
                </div>
      
                <div class="row form-group">
                  <label for="name" class="col-md-2 offset-md-2 offset-lg-1 col-form-label">{{cvRoot.contacto.nLabel}}</label>
                  <div class="col-md-8">
                    <input id="name" class="col-md-11" name="name" type="text" :placeholder=[[cvRoot.contacto.nPlace]] required>
                  </div>
                </div>
      
                <div class="row form-group">
                  <label for="email" class="col-md-2 offset-md-2 offset-lg-1 col-form-label">{{cvRoot.contacto.eLabel}}</label>
                  <div class="col-md-8">
                    <input id="email" class="col-md-11 form-control" name="email" type="email" :placeholder=[[cvRoot.contacto.ePlace]] required>
                  </div>
                </div>
      
                <div class="row form-group text-center">
                  <input type="submit" :value=[[cvRoot.contacto.boton]] class="col-8 offset-2 col-md-6 offset-md-3 btn btn-lg btn-primary">
                </div>         
      
              </form>
            </div>
          </section>
          
        </div>     

      </div>

      
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="index.js"></script>
  </body>

  <div class="row align-items-center justify-content-between">
    <!-- order-lg-2 -->
  </div>
  <div class="w-100 d-none d-md-block"><!-- dos filas siendo un row -->
    <!-- col-md-auto se adapta el contenido -->
  </div>
    




  <!-- 
    text-white
    display-1
    navbar-expand {sm}
    collapse.navbar-collapse (desplegable), nav-link, my-md-2 my-lg-0 mx-2
    mt-0, ml-1, ml-auto, p-3 para margin y padding

  
    css->reglas generales; bootstrap->cambiar clases
    
    <button> class= 'navbar-toggler' type="button" data-toggle
      <span class="navbar-toggler-icon"></span>
    </button> 
    .navbar-dark .navbar-toggler-icon{
      en los iconos svg stroke='rgba(255,255,255,1)'

    }
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link my-md-2 my-lg-0 mx-2 active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link my-md-2 my-lg-0 mx-2 " href="#">Features</a>
      <a class="nav-item nav-link my-md-2 my-lg-0 mx-2 " href="#">Pricing</a>
      <a class="nav-item nav-link my-md-2 my-lg-0 mx-2 " href="#">Disabled</a>
    </div>
  </div>



  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
.dropdown-item{
  color:var(--bg-color);
}
----   CARD   ----
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

CARD DECK
 

FORMULARIO
<section>
<div class="row">
<form class="col-10 offset-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10"> class="col-10 offset-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3"
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            First radio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Second radio
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Third disabled radio
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-2">Checkbox</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Example checkbox
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
    </div>
  </div>
</form>
</div>
</section>
   -->
</html>